body{
    font-family: Georgia, 'Times New Roman', Times, serif; 
    /*height: 100vh;*/
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    margin: 0px;

}
.header{
display: flex;
justify-content: space-evenly;
align-content: center;



}

.logo{
    font-size: 24px;
    font-weight: 900;
    color: #f9faf8;
    width: 550px;
}

.contaniner{
    display: flex;
    
    
}
ul{
    display: flex;
    gap: 10px;
    list-style-type: none;
    
    
   

}

a{
    text-decoration: none;
    color: white;

}

.header-info{
    height: 240px;
    width: 600px;
    margin: 0px;
    padding: 0px;
}

.container-2{
   /* height: 230px;*/
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
   margin-bottom: 80px;
    
    
    
}

.h1{
    display: flex;
    flex-shrink: 1;
    width: 300px;
    margin-right: 0px;
    
}

h1{
    margin-bottom: 0px;
    margin-top: 0px;
    
    font-size: 48px;
    font-weight: bold;
    color: #f9faf8;
}

.p1{
    display: flex;
    width: 475px;
    
    
}

p{
    font-size: 18px;
    color: #e5e7eb;
    margin: 5px 0px;
}

.button{
    color: white;
    background-color: #3882f6;
    font-size: 18px;
    font-weight: bolder;
    display: inline-block;
    padding: 8px 39px;
    border-radius: 12px;
    margin-top: 8px;
    


}

img{
    /*height: 240px;
    width: 600px;*/
}

.pic {
    
}

h2{
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
}

.h2{
    background-color: white;
}

.pictures{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 45px;
    background-color: white;
    padding-bottom: 90px;
    

}

.text{
    width: 189px; 
    color: #1f2937;
    text-align: center;
    font-size: 18px;
    
    
    
  
}

img.pics{
    border: solid 7px #3882f6;
    border-radius: 12px;
}

div.text{
  /*display: flex;*/  
    
}

.qcontainer{
    display: flex;
    background-color: #e5e7eb;
    padding-top: 100px;
    
    
}

.quote{
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    color: #1f2937;
    font-size: 36px;
    font-style: italic;
    
    
    
}

.thor{
    display: flex;
    justify-content: center;
    background-color: #e5e7eb;
    padding-bottom: 80px;
    flex-shrink: 1;

}

.thors{
    color: #1f2937;
    font-size: 20px;
    font-weight: bolder;
    margin-left: 560px;
}

.color{
    background-color: white;
    display: flex;
    justify-content: center;
}


    
.calltoaction{
    background-color: #3882f6;
    width: 600px;
    margin-top: 50px;
    border-radius: 5px;
    border: solid 2px #3882f6;
}

.cta{

    font-size: 25px;
    color: white;
    font-weight: bold;
}

.sign-up{
    color: white;


}